<%= form_with(model: [ @profile, @profile.social_networks.build], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.select :name, SocialNetwork.names.keys.to_a %>
  </p>
  <p>
    <%= form.label :url_link %><br>
    <%= form.text_area :url_link %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
